
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@font-face {
    font-family: secFont;
    src: url(/fonts/JejuMyeongjo-Regular.ttf) format('truetype');
}

*{
    font-size: 3rem;
    margin: 0%;
    padding: 0;
    font-family:  'Italiana', serif;

}
#true{
    display: none;
}
#false{
    display: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#fno, #sno, #syNo{
    font-family:  'secFont', serif;
    font-weight: 500;
    font-size: 1em;
}

.input{
    -webkit-box-shadow: inset 0px 7px 19px 5px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0px 7px 19px 5px rgba(0,0,0,0.25);
box-shadow: inset 0px 7px 19px 5px rgba(0,0,0,0.25);
    border:  none;
    border-radius: .4rem;
    background-color: rgba(255, 255, 255,0);
    font-family: 'secFont', serif;
    font-weight: 500;
}          
.numbersDiv{            
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    width: 50vh;
    margin: 0;
    /* padding: -300vh; */
    height: vh;
}   

button{
    border: none;
    font-family: 'Italiana', serif;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 25px;
    -webkit-box-shadow: inset 0px 7px 19px 5px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0px 7px 19px 5px rgba(0,0,0,0.25);
box-shadow: inset 0px 7px 19px 5px rgba(0,0,0,0.25);
}
#resetBtn{
    background-color: #B6FFAF;
}
#submitBtn{
    background-color: #CEC1FF;
}

.btnDiv{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 50vh;
    margin: 0;

}


@media(orientation: portrait){
    .btnDiv{
        display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    margin: 0;
    padding: -30vh;

    }
    .numbersDiv{
        justify-content: space-evenly;
        width: 3    0vh;
    
}
}


@media(max-height : 720px ) {
    *{
        font-size: 2rem;

    }
}
@media(min-hight: 1080 ) and( orientation: portrait){
    .numbersDiv{
        justify-content: space-around;
    }
}