*{
    padding: 0%;
    margin: 0%;
}
h1{
    font-size: 10vh;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.questionPanel, .ansPanel{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Timer{
    font-size: 5em;
}